<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta name='description' content='Quiz Creation'>
	<meta name='author' content='Wes Gilleland'>
	<meta name='published' content='TODO'>
	<script type='text/javascript' src='js/jquery-2.1.0.min.js'></script>
	{{create_script_tag}}
	<script type='text/javascript' src='js/main.js'></script>
	<script type='text/javascript' src='js/numeral.min.js'></script>
	<link type='text/css' rel='stylesheet' href='css/reset.css'>
	<link type='text/css' rel='stylesheet' href='css/main.css'>
</head>
<body>
<header id='topNav'>
	<div id='logo'>
		STUFF HERE!
	</div>
	<div id='dropdown'>
		<p>DROPDOWN HERE</p>
	</div>
	<p id='pageTitle'>Quiz Creation</p>
	<a href='logout.php'>Log out</a>
</header>