<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="UTF-8"/>
	<meta name='description' content='A light-weight LMS for the Eastern Kentucky University Computer Science department'>
	<meta name='author' content='Wes Gilleland'>
	<script src='js/jquery-2.1.0.min.js'></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/numeral.min.js"></script>
	<script type='text/javascript' src='js/main.js'></script>
	{{create_script_tag}}
	<link rel="stylesheet" href="css/bootstrap-simplex.min.css"/>
	<link rel="stylesheet" href="css/main_v2.css"/>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse" id="topNav" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{site_root}}/index.php">EKULMS</a>
		</div>
		<div id="navbarCollapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class='{{home_active}}'><a href="index.php"><span class="glyphicon glyphicon-pencil"></span> Take A
					Quiz</a></li>
				<li class="{{account_active}}"><a href="account.php"><span class="glyphicon glyphicon-user"></span> My
					Account</a></li>
				<li><a href="logout.php"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
				{{admin_link}}
			</ul>
		</div>
	</div>
</nav>
<div class="container" id="main_container">
	<div id="errors">
		{{errors_to_display}}
	</div>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="select_test" class="col-xs-2 control-label rad">Select a test: </label>
			<div class="col-xs-4">
				<select name="select_test" class="form-control" id="select_test">
					{{test_options}}
				</select>
			</div>
			<button type="button" class="btn btn-default" id="load"><span class="glyphicon glyphicon-download"></span> Load</button>
		</div>
	</form>

	<span class="clearfix"></span>
	<div class="index-head-spacer"></div>