/* Custom styles here */

body {
	background-color:#F4F4F4;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 35px;
}

#topNav {
	height: 35px;
	background-color: #903;
	color: white;
	position: fixed;
	top: 0px;
	width: 100%;
}

#logo {
	/*float: left;
	background-color: black;
	background-image: url('../images/eku_logo.png');
	background-size: 97px 32px;
	padding: 3px;
	background-repeat: no-repeat;*/
	display: none;
}

#topNav > div, #pageTitle {
	border: none;
	width: 100px;
	height: 100%;
}

#pageTitle, #dropdown{
	float: right;
}

#holding_div {
	padding: 5px;
}

#quiz_name {
	margin-bottom: 5px;
}

.question_body {
	margin: 15px;
}

.correct_incorrect_box {
	display: none;
	width: 250px;
	text-align: center;
}

.question {
	padding: 5px;
}

textarea {
	margin-top: 5px;
	margin-bottom: 5px;
}

.choice {
	width:100%;
}

table {
	margin-top: 5px;
}

td > div {
	border: none;
}

#dropdown {
	display: none;
}

#dropdown * {
	float: left;
}

#pageTitle {
	display: none;
}